body{
top: 0px;
left: 0px;
width: 1920px;
height: 6943px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.header{
top: 0px;
left: 0px;
width: 1920px;
height: 48px;
background: #255A8C 0% 0% no-repeat padding-box;
opacity: 1;
}
.mo{
top: 12px;
left: 1142px;
width: 144px;
height: 26px;
text-align: left;
font: normal normal medium 20px/26px JetBrains Mono;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.gmail{
top: 10px;
left: 1389px;
width: 276px;
height: 26px;
text-align: left;
font: normal normal medium 20px/26px JetBrains Mono;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.h{
top: 89px;
left: 586px;
width: 53px;
height: 29px;
text-align: left;
font: normal normal 800 22px/29px JetBrains Mono;
letter-spacing: 0px;
color: #050505;
opacity: 1;
}
